.circleBackground {
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    background: radial-gradient(circle, white,#aabacd);
    position: absolute;
    top: -50vw;
    right: -50vw;

}
.sth {
    position: absolute;
    right: -50vw;
    top: 30vh;
    font-size: -webkit-xxx-large;
}
